<!doctype html>
<html>
  <head>
    <title>&#x1f436;.&#x1f4f9; (doge.webcam)</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- Configs -->
    <meta name="audio_server_base_url" content="{{{audio_server_base_url}}}">
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Architects+Daughter|Indie+Flower|Lobster+Two|Neuton|News+Cycle|PT+Sans+Narrow|Poppins" rel="stylesheet">
  </head>
  <body>
    <div id="main">
      <h1>&#x1f436;.&#x1f4f9; (doge.webcam)</h1>
      <h2>Select a tweet to Trump.</h2>
      {{!
      <form action="#">
        <input type="text" id="twitter_name" name="twitter_name">
        <label for="twitter_name">Twitter Username</label>
      </form>
      }}
      <div id="tweets">
        <p>No Tweets</p>
      </div>

      <div id="footer">
        <p>Written with 🎂 in Atlanta. Contains 75% DV of Rust with a touch of TypeScript.</p>
      </div>
    </div>
    <div id="templates">
      <div class="tweet-template tweet">
        <div class="avatar"></div>
        <div class="tweet-container">
          <div class="username"></div>
          <div class="text"></div>
        </div>
      </div>
    </div>
    <script src="/assets/build/app.built.js"></script>
  </body>
</html>
